 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--black(#333);
}

header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 40 100;
}

header .textLogo {
	position: relative;
	display: inline-flex;
	color: var(--black);
	text-decoration: none;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 0.05em;
}
